<html>
<head>
  <link rel="stylesheet" type ="text/css"href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        TaskMaster
      </h1>
      <h2 class="subtitle">
        Task Management
      </h2>
      <button class="button is-primary is-large">
        <span class="icon">
          <i class="fa fa-send"></i>
        </span>
        <span>Login via SMS</span>
      </button>
    </div>
  </div>
</section>

<script type="text/javascript">
const appParams = {
  appId:'{{appId}}',
  state:'{{csrf}}',
  version:"{{version}}"
}
</script>
<script src="https://sdk.accountkit.com/en_US/sdk.js"></script>
<script src="js/accountkit.js"></script>
</body>
</html>
